.card .card-image img {
    display: inline !important;
    margin: 24px;
    width: 200px;
}

.card:hover {
    background-color: #03a9f4;
    color: #ffffff;
    cursor: pointer;
}

.card:hover > .card-image img {
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    -o-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
}

.card:hover > .card-image img {
    margin-bottom: 4px;
    width: 220px;
}