<!DOCTYPE html>
<html ng-app="squidApp">
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:700" rel="stylesheet">

    <link type="text/css" rel="stylesheet" href="css/materialize.css" media="screen"/>
    <link type="text/css" rel="stylesheet" href="css/squidsquads.css"/>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" href="img/squid.ico">
    <title>Création d'un compte</title>
</head>

<body>

<header nav-not-connected active-link="compte_creation"></header>

<main>
    <div class="container container-pad-top" ng-controller="CompteCreationController">
        <div class="row">
            <div class="col s12 xl8 offset-xl2">
                <div class="card z-depth-3">
                    <div id="create-account-loading" class="card-loading">
                        <div class="preloader-wrapper big active">
                            <div class="spinner-layer">
                                <div class="circle-clipper left">
                                    <div class="circle"></div>
                                </div>
                                <div class="gap-patch">
                                    <div class="circle"></div>
                                </div>
                                <div class="circle-clipper right">
                                    <div class="circle"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-content no-padding-bot">
                        <span class="card-title">Création d'un compte</span>
                        <div class="row no-margin-bot">
                            <form class="col s12 p-margin-y">
                                <p>Quel est votre objectif ?</p>
                                <p>
                                    <input class="with-gap" name="group1" type="radio" id="adminpub" checked="checked" ng-model="account.adminType" ng-value="ADMIN_TYPE.PUB"/>
                                    <label for="adminpub" class="dark-grey-label">Créer des campagnes publicitaires pour ma compagnie</label>
                                </p>
                                <p>
                                    <input class="with-gap" name="group1" type="radio" id="adminweb" ng-model="account.adminType" ng-value="ADMIN_TYPE.WEB"/>
                                    <label for="adminweb" class="dark-grey-label">Présenter des publicités sur mon site web</label>
                                </p>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id="email" type="email" class="validate" ng-model="account.email">
                                        <label for="email">Courriel</label>
                                    </div>
                                </div>
                                <div class="row animated-page" ng-if="account.adminType == ADMIN_TYPE.WEB" ng-init="readyTooltip()">
                                    <div class="input-field col s12">
                                        <input id="domain" type="url" class="validate" ng-model="account.domain">
                                        <label for="domain">Domaine de site web</label>
                                        <span id="domain-tt" class="tooltipped" data-position="top" data-tooltip="https://votre.site.web">?</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id="bank" type="text" class="validate" ng-model="account.bank">
                                        <label for="bank">Numéro de compte de banque</label>
                                        <span id="bank-tt" class="tooltipped" data-position="top" data-tooltip="BBB-CCCCC (ex: 000-12345)">?</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id="password" type="password" class="validate" ng-model="account.password">
                                        <label for="password">Mot de passe</label>
                                    </div>
                                </div>
                                <div class="row no-margin-bot">
                                    <div class="input-field col s12">
                                        <input id="confirmpassword" type="password" class="validate" ng-model="account.confirmPassword">
                                        <label for="confirmpassword">Confirmation du mot de passe</label>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card-action right-align">
                        <a class="btn waves-effect waves-light" ng-click="create()">Créer</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<footer class="page-footer" footer-template></footer>

<script src="js/lib/jquery-3.2.1.min.js"></script>
<script src="js/lib/angular.min.js"></script>
<script src="js/lib/angular-animate.min.js"></script>
<script src="js/lib/angular-local-storage.min.js"></script>
<script src="js/lib/materialize.min.js"></script>
<script src="js/lib/sweetalert.min.js"></script>
<script src="js/squidsquads.js"></script>
<script src="js/authInterceptorService.js"></script>
<script src="js/authService.js"></script>
<script src="js/apiService.js"></script>
<script src="js/compteCreation.js"></script>
</body>
</html>