<div class="row">
    <div class="col s12 m4">
        <div class="card card-accueil z-depth-2" ng-click="setCurrentPage('campagnes')">
            <div class="card-image">
                <!-- Icon made by https://www.flaticon.com/authors/maxim-basinski -->
                <img src="./img/announcement.svg">
            </div>
            <div class="card-content">
                <span class="card-title">Campagnes publicitaires</span>
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card card-accueil z-depth-2" ng-click="setCurrentPage('profils')">
            <div class="card-image">
                <!-- Icon made by https://www.flaticon.com/authors/maxim-basinski -->
                <img src="./img/id-card.svg">
            </div>
            <div class="card-content">
                <span class="card-title">Profils utilisateurs</span>
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card card-accueil z-depth-2" ng-click="setCurrentPage('parametres')">
            <div class="card-image">
                <!-- Icon made by https://www.flaticon.com/authors/maxim-basinski -->
                <img src="./img/settings.svg">
            </div>
            <div class="card-content">
                <span class="card-title">Paramètres</span>
            </div>
        </div>
    </div>
</div>