<div ng-controller="WebParametresController">
    <div class="row">
        <div class="col s12 xl8 offset-xl2">
            <div class="card z-depth-3">
                <div class="card-content no-padding-bot">
                    <span class="card-title">Modifier les paramètres</span>
                    <div class="row no-margin-bot">
                        <form class="col s12">
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="email" type="email" ng-model="::account.email" placeholder="" disabled>
                                    <label for="email">Courriel</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="domain" type="url" ng-model="::account.domain" placeholder="" disabled>
                                    <label for="domain">Domaine de site web</label>
                                    <span id="domain-tt" class="tooltipped" data-position="top" data-tooltip="https://votre.site.web">?</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="bank" type="text" ng-model="::account.bankAccount" placeholder="" disabled>
                                    <label for="bank">Numéro de compte de banque</label>
                                    <span id="bank-tt" class="tooltipped" data-position="top" data-tooltip="BBB-CCCCC (ex: 000-12345)">?</span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 xl8 offset-xl2">
            <div class="card z-depth-3">
                <div class="card-content no-padding-bot">
                    <span class="card-title">Changer le mot de passe</span>
                    <div class="row no-margin-bot">
                        <form class="col s12">
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="oldpassword" type="password" class="validate">
                                    <label for="oldpassword">Ancien mot de passe</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="newpassword" type="password" class="validate">
                                    <label for="newpassword">Nouveau mot de passe</label>
                                </div>
                            </div>
                            <div class="row no-margin-bot">
                                <div class="input-field col s12">
                                    <input id="confirmnewpassword" type="password" class="validate">
                                    <label for="confirmnewpassword">Confirmation du nouveau mot de passe</label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card-action right-align">
                    <a class="btn waves-effect waves-light" href="#">Sauvegarder</a>
                </div>
            </div>
        </div>
    </div>
</div>