<!DOCTYPE html>
<html ng-app="squidApp">
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:700" rel="stylesheet">

    <link type="text/css" rel="stylesheet" href="../css/materialize.css" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="../css/squidsquads.css"/>
    <link type="text/css" rel="stylesheet" href="../css/accueil_adminweb.css"/>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Accueil</title>
</head>

<body>

<header nav-admin-web active-link="accueil"></header>

<main>
    <div class="container-pad-top" ng-controller="DashboardController">
        <div class="row">
            <div class="col s12 l6">
                <div class="chart-wrapper cyan z-depth-3">
                    <div class="chart-header row">
                        <span class="col s12 l8 chart-title">Nombre de visites sur votre site</span>
                        <div class="input-field col s6 l4 cyan darken-2">
                            <select class="chart-select" ng-model="visiteFilter" ng-change="visiteFilterChanged()">
                                <option value="1" selected>Dernières 24h</option>
                                <option value="2">Derniers 7 jours</option>
                                <option value="3">Dernier mois</option>
                                <option value="4">Dernière année</option>
                            </select>
                        </div>
                    </div>
                    <div class="chart-canvas">
                        <canvas id="visiteChart" width="600" height="200"></canvas>
                    </div>
                </div>
            </div>
            <div class="col s12 l6 margin-top-on-med-and-down">
                <div class="chart-wrapper teal z-depth-3">
                    <div class="chart-header row">
                        <span class="col s12 l8 chart-title">Distribution des navigateurs utilisés par les visiteurs</span>
                    </div>
                    <div class="chart-canvas">
                        <canvas id="navigateurChart" width="600" height="200"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 l4">
                <div class="chart-wrapper z-depth-3">
                    <div class="chart-header row">
                        <span class="col s12 l8 chart-title black-text">Répartition des redevances</span>
                        <div class="input-field col s6 l4 grey darken-2">
                            <select class="chart-select" ng-model="redevanceFilter" ng-change="redevanceFilterChanged()">
                                <option value="1" selected>Dernières 24h</option>
                                <option value="2">Derniers 7 jours</option>
                                <option value="3">Dernier mois</option>
                                <option value="4">Dernière année</option>
                            </select>
                        </div>
                    </div>
                    <div class="chart-canvas">
                        <div>
                            <canvas id="redevanceChart" width="400" height="200"></canvas>
                        </div>
                        <span>Total<br>{{redevanceTotal}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<footer class="page-footer" footer-template></footer>

<script type="text/javascript" src="../js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="../js/angular.min.js"></script>
<script type="text/javascript" src="../js/angular-animate.min.js"></script>
<script type="text/javascript" src="../js/angular-cookies.min.js"></script>
<script type="text/javascript" src="../js/Chart.min.js"></script>
<script type="text/javascript" src="../js/materialize.min.js"></script>
<script type="text/javascript" src="../js/squidsquads.js"></script>
<script type="text/javascript" src="../js/dashboard.js"></script>
</body>
</html>